#introtitle {
  font-family: Helvetica;
  font-size: 80px;
  font-weight:bold;
  color: AliceBlue;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/9044/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350);
}
html {
  background-color: DarkCyan;
}
#introparagraph {
  font-family: Helvetica;
  font-size: 20px;
  color: AliceBlue;
  text-align: center;
}
